* { 
    box-sizing: border-box; 
  }

h1 {
  font-family: cheap-pine-sans,sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #18535b;
  margin: 0;
}

p {
  text-align: center;
}

body { 
  background-color: #fff4bb; 
  color: black; 
  font-size: 14px; 
  font-family: cheap-pine-sans,sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

main {
  margin: 5%;
}

.buffer { 
  min-height: 100vh 
}

.dog_select {
  width: 100%;
  height: 20%;
  background-color: #18535b;
  margin-bottom: 0;
  /* padding-left: 10%;
  padding-right: 10%; */
}

.breed {
  color: #fff4bb;
  font-size: 3em;
  text-align: center;
}

.info {
  background-color: #18535b;
  margin-bottom: 1%;
  height: 55vh;
  display: none;
}

.infoHelp {
  text-align: center;
}

#name {
  width: 40%;
  float: left;
}

#breed {
  background-color: #fff761;
  width: 10%;
  height: 100%;
  float: left;
  text-align: center;
}

.breedSection img {
  width: 75%;
}

.infoSection {
  float: left;
  padding-left: 8%;
}

.infoSection p {
  color: #fff4bb;
  text-align: center;
}

#personality {
  background-color: #18535b;
  width: 50%;
  height: 50%;
  padding: 2%;
  float: right;
}

#care {
  background-color: #ff945f;
  width: 50%;
  height: 50%;
  padding: 2%;
  float: right;
}

.statImg {
  width: 70%;
}

.div_wrapper {
  width: 15%;
  display: inline-block;
  padding: .5%;
  
  margin-left: 1%;
  margin-bottom: 0;
}

section p { 
  color: black; 
  width: 70%; 
  font-size: 1.25rem; 
}

.hidden { 
  display: none; 
}

.svg-graphic { 
  width: 100%; 
}

.main-header { 
  font-size: 3em;
  text-align: center;
}

/* .beer-info { display: inline-block; vertical-align: top; padding: 30px; border: thin solid white; } */

/* p > span { display: block; padding-bottom: 12px; } */

/* .popover { 
  display: none;
  position: absolute;
  top: 18%;
  left: 110%;
  background-color: orange;
  width: 350px;
  z-index: 1;
  border-radius: 8px;
  padding: 4px;
} */

 .show-popover { display: block; } 

/* .see-more { 
  display: block; 
  padding: 12px 18px; 
  border-radius: 8px; 
  color: white; 
  background-color: salmon; 
  margin-top: 8px
} */
